<div class="row justify-content-center no-gutters" style="margin-top: 0px">
    <div class="col-md-12">
        <div class="three-images-wrapper">

            <div class="three-images">
                <div class="featured-image-outer">
                    <div class="featured-image-inner"
                         style="background-color: rebeccapurple">
                         <!--style="background-image: url('https://cloud.githubusercontent.com/assets/6893715/21904006/e307032c-d8b6-11e6-9e4a-52dccfedf8a5.jpg');">-->
                    </div>
                </div>

                <div class="middle-image">
                    <div class="middle-image-outer">
                        <div class="middle-image-inner"
                             style="background-color: #0c5460">
                             <!--style="background-image: url('https://cloud.githubusercontent.com/assets/6893715/21904006/e307032c-d8b6-11e6-9e4a-52dccfedf8a5.jpg');">-->

                        </div>
                    </div>
                </div>

                <div class="last-image">
                    <div class="last-image-outer">
                        <div class="last-image-inner"
                             style="background-color: green">
                             <!--style="background-image: url('https://cloud.githubusercontent.com/assets/6893715/21904006/e307032c-d8b6-11e6-9e4a-52dccfedf8a5.jpg');">-->
                        </div>
                    </div>
                </div>

                <!--<div class="two-images">-->
                    <!--<div class="two-images-outer">-->
                        <!--<div class="two-images-inner"-->
                             <!--style="background-image: url('https://cloud.githubusercontent.com/assets/6893715/21904091/52eb581e-d8b7-11e6-9eff-a2d40c3b4304.jpg');">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--&lt;!&ndash;<div class="two-images-outer">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="two-images-inner"&ndash;&gt;-->
                             <!--&lt;!&ndash;style="background-image: url('https://cloud.githubusercontent.com/assets/6893715/21904081/479edcf6-d8b7-11e6-9c83-b01658fbb473.jpg');">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->

            </div>
        </div>

    </div>
</div>

<div>

</div>


