<footer class="footer-bs">
    <div class="row justify-content-center">
        <div class="col-md-3 footer-brand animated fadeInLeft">
            <h2>Mr Baffo</h2>
            <br>
            <p>© 2017 Mr. Baffo Inc. All Rights Reserved
                <br>Mr. Baffo, Mr. Baffo Design, are trademarks and/or registered trademarks of Mr. Baffo Inc
            </p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            <div class="row justify-content-center" style="align-items: center">
                <div class="col-md-6" style="text-align: center">
                    <ul class="list" style="display: inline-block; text-align: left;">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Corporate</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-6" style="text-align: center">
                    <ul class="list" style="display: inline-block; text-align: left;">
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 footer-ns animated fadeInRight">
            <div class="col-md-12" style="text-align: center">
                <div style="text-align: center">
                    <div>
                        <p style="display: inline-block; text-align: right; font-size: 15px">
                            <i class="fab fa-twitter-square fa-2x" style="padding-right: 10px"></i>
                            <i class="fab fa-facebook-square fa-2x"></i>
                            <br>
                            <br>

                            <b style="font-size: 20px;padding-bottom: 10px">Contact</b>
                            <br>
                            corporate@mrbaffo.com
                            <br>
                            +1-647-575-7404
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
