<div class="row justify-content-center" style="margin-top: 100px">
    <div class="col-md-10">
        <div class="row justify-content-center">
            <div class="col-md-5" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); background-color: white">
                <div class="row justify-content-center" style="padding-top: 50px; padding-bottom: 50px">
                    <div class="col-md-8">
                        <div style="align-content: center">
                            <div style="margin-left: -15px; margin-bottom: 0">
                                <h2>Verify Account</h2>
                                <h5>Please enter the 6-digit verification code sent to
                                    <br>{{userInfo.profile.phone}}</h5>
                                <br>
                            </div>
                            <form name="verifyForm" novalidate>
                                <div class="form-group row" ng-class="{ 'invalid-feedback' : (verifyForm.verificationCode.$invalid && !verifyForm.verificationCode.$pristine)}">
                                    <p ng-show="verifyForm.verificationCode.$error.minlength" class="help-block" style="margin-bottom: 5px">Verification Code must be 6 digits long</p>
                                    <p ng-show="verifyForm.verificationCode.$error.incorrect && !verifyForm.verificationCode.$pristine" class="help-block" style="margin-bottom: 5px">The verification code entered was incorrect</p>
                                    <input ng-required="true" id="verificationCode" type="tel" name="verificationCode"
                                           class="form-control" maxlength="6" ng-minlength="6"
                                           placeholder="Verification Code" ng-model="verificationCode" style="height: 50px; margin-bottom: 10px">
                                           <!--ng-class="{ 'is-invalid' : (loginForm.email.$invalid && !loginForm.email.$pristine)}">-->
                                </div>
                                <div style="padding-top: 10px">
                                    <div style="margin-left: -15px; margin-right: -15px">
                                        <p style="text-decoration: underline; text-align: left">
                                            <a ng-click="resend()" style="cursor: pointer;">Send a new code</a>
                                            <button ng-click="verify(verificationCode)" ng-disabled="verifyForm.$invalid" type="button" class="btn btn-primary" style="width: 30%; height: 50px; float: right"><i class=""></i>Verify</button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5" style="text-align: center; padding-top: 50px; padding-bottom: 50px;" >
                <img src="resources/images/laundry_machine.png" style="width: 40%; height: auto">
            </div>
        </div>
    </div>
</div>
