<div class="row justify-content-center" style="margin: 40px 25px 40px 25px">
    <div class="col-md-12">
        <div>
            <h4 style="display: inline"><small>Edit Account</small></h4>
            <p style="float: right; margin-top: 5px">
                                    <span style="font-weight: 200; font-style: normal; text-decoration: underline; cursor: pointer"
                                          ng-click="editAccount('profile')" ng-bind="(accountProfileEdit) ? 'Cancel': 'Edit'"></span>
            </p>
        </div>
        <!--PROFILE FORM-->
        <div class="row justify-content-start no-gutters" style="margin-top: 30px">
            <div class="col-md-5">
                <form novalidate name="profileForm">
                    <div class="form-group">
                        <label for="accountName" style="margin-bottom: 0"><span style="font-weight: 200; font-style: normal">Name</span></label>
                        <br>
                        <input id="accountName" type="text" ng-show="!accountProfileEdit"
                               class="" ng-class="{ 'underline' : accountProfileEdit, 'non-edit': !accountProfileEdit}" ng-readonly="!accountProfileEdit"
                               ng-value="profile.firstName + ' ' + profile.lastName" style="margin-bottom: 5px; width: 100%"/>

                        <div class="form-inline">
                            <input id="accountFirstName" type="text" ng-show="accountProfileEdit" placeholder="First Name"
                                   class="" ng-class="{ 'underline' : accountProfileEdit, 'non-edit': !accountProfileEdit}" ng-readonly="!accountProfileEdit"
                                   ng-value="profile.firstName" ng-model="profile.firstName" style="margin-bottom: 5px; width: 50%;"/>

                            <input id="accountLastName" type="text" ng-show="accountProfileEdit"placeholder="Lastt Name"
                                   class="" ng-class="{ 'underline' : accountProfileEdit, 'non-edit': !accountProfileEdit}" ng-readonly="!accountProfileEdit"
                                   ng-value="profile.lastName" ng-model="profile.lastName" style="margin-bottom: 5px; width: 50%;"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="accountEmail" style="margin-bottom: 0"><span style="font-weight: 200; font-style: normal">Email</span></label>
                        <br>
                        <input id="accountEmail" type="text" name="email"
                               class="" ng-class="{ 'underline' : accountProfileEdit, 'non-edit': !accountProfileEdit}" ng-readonly="!accountProfileEdit"
                               ng-model="profile.email" style="margin-bottom: 5px; width: 100%"/>
                        <p ng-show="profileForm.email.$error.duplicate && !profileForm.email.$pristine" style="margin-bottom: 5px" class="error-msg">This email exists.</p>
                        <p ng-show="profileForm.email.$error.valid && !profileForm.email.$error.duplicate && !profileForm.email.$pristine" class="error-msg" style="margin-bottom: 5px">Email is invalid, please enter a valid email.</p>
                    </div>
                    <div class="form-group">
                        <label for="accountPhone" style="margin-bottom: 0"><span style="font-weight: 200; font-style: normal">Phone</span></label>
                        <br>
                        <input id="accountPhone" type="text"
                               class="" ng-class="{ 'underline' : accountProfileEdit, 'non-edit': !accountProfileEdit}" ng-readonly="!accountProfileEdit"
                               ng-model="profile.phone" style="margin-bottom: 5px; width: 100%"/>
                    </div>
                </form>
            </div>
        </div>
        <hr>

        <div>
            <h4 style="display: inline"><small>Password</small></h4>
            <p style="float: right; margin-top: 5px">
                                    <span style="font-weight: 200; font-style: normal; text-decoration: underline; cursor: pointer"
                                          ng-click="editAccount('password')" ng-bind="(accountPasswordEdit) ? 'Cancel': 'Edit'"></span>
            </p>
        </div>
        <!--PASSWORD FORM-->
        <div class="row justify-content-start no-gutters" style="margin-top: 30px">
            <div class="col-md-5">
                <form novalidate name="passwordForm">
                    <div class="form-group">
                        <label for="accountCurrentPass" style="margin-bottom: 0"><span style="font-weight: 200; font-style: normal">Current Password</span></label>
                        <br>
                        <p ng-show="passwordForm.currentPassword.$error.valid && !passwordForm.currentPassword.$pristine" class="error-msg" style="margin-bottom: 5px">Incorrect Current Password</p>
                        <input id="accountCurrentPass" type="password" name="currentPassword"
                               class="" ng-class="{ 'underline' : accountPasswordEdit, 'non-edit': !accountPasswordEdit}" ng-readonly="!accountPasswordEdit"
                               ng-value=" (accountPasswordEdit) ? null :'**********'" ng-model="password.current" style="margin-bottom: 5px; width: 100%; font-size: 1.5em"/>
                    </div>
                    <div class="form-group" ng-show="accountPasswordEdit">
                        <label for="accountNewPass" style="margin-bottom: 0">
                                            <span style="font-weight: 200; font-style: normal">New Password
                                                <i class="fa fa-info-circle" data-toggle="tooltip"
                                                   title="Password must be more than 7 characters containing a lowercase letter, an uppercase letter and a number or special character">
                                                </i>
                                            </span>
                        </label>
                        <br>
                        <p ng-show="passwordForm.newPassword.$error.valid && !passwordForm.newPassword.$pristine" class="error-msg" style="margin-bottom: 5px">Invalid password, does not meet criteria</p>
                        <input id="accountNewPass" type="password" name="newPassword"
                               class="" ng-class="{ 'underline' : accountPasswordEdit, 'non-edit': !accountPasswordEdit}" ng-readonly="!accountPasswordEdit"
                               ng-model="password.new" style="margin-bottom: 5px; width: 100%; font-size: 1.5em"/>
                    </div>
                    <div class="form-group" ng-show="accountPasswordEdit">

                        <label for="accountNewPassConfirm" style="margin-bottom: 0"><span style="font-weight: 200; font-style: normal">Confirm New Password</span></label>
                        <br>
                        <p ng-show="passwordForm.newPasswordConfirm.$error.valid && !passwordForm.newPasswordConfirm.$pristine" class="error-msg" style="margin-bottom: 5px">Your passwords do not match</p>
                        <input id="accountNewPassConfirm" type="password" name="newPasswordConfirm"
                               class="" ng-class="{ 'underline' : accountPasswordEdit, 'non-edit': !accountPasswordEdit}" ng-readonly="!accountPasswordEdit"
                               ng-model="password.newConfirm" style="margin-bottom: 5px; width: 100%; font-size: 1.5em"/>
                    </div>
                </form>
            </div>
        </div>
        <hr>

        <div class="row justify-content-end no-gutters">
            <div class="col-md-2" style="margin-top: 20px">
                <button type="button" class="btn btn-primary" ng-disabled="(profileForm.$invalid && passwordForm.$invalid)" ng-click="updateProfile(profile, password)" style="width: 150px; height: 50px; float: right"><i class=""></i>Save</button>
            </div>
        </div>
    </div>
</div>
