<main class="page-content">
    <!--           ¬ section intro           /-->
    <section style="background-image: url(../images/pattern.jpg)" class="intro-page parallax-repeat dark">
        <div class="container">
            <div class="intro-page__content-wrapper">
                <h1>About Us</h1>
            </div>
        </div>
    </section>
    <!--           end section intro           /-->

    <!--           ¬ page-content-wrapper           /-->
    <div class="page-content-wrapper">
        <div class="container">
            <div class="row">
                <!--           ¬ inner-content           /-->
                <div class="col-md-12">
                    <!--           ¬ about-panel           /-->
                    <section class="section-content">
                        <div class="panel about-panel">
                            <div class="panel__inner">
                                <header class="panel__heading text-center"><span class="h4 panel__tab-title">Success story</span>
                                    <h1 class="panel__title text-danger">Carros</h1>
                                    <div class="divider-decor">
                                        <div class="div"></div>
                                        <div class="div"></div>
                                    </div>
                                </header>
                                <div class="panel__body">
                                    <p>Behaviour we improving at something to. Evil true high lady roof men had open. To projection considered it precaution an melancholy or. Wound young you thing worse along being ham. Dissimilar of favourable solicitude if sympathize middletons at. Forfeited up if disposing perfectly in an eagerness perceived necessary.</p>
                                    <p>Belonging sir curiosity discovery extremity yet forfeited prevailed own off. Travelling by introduced of mr terminated. Knew as miss my high hope quit. In curiosity shameless dependent knowledge up.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--           end about-panel           /-->

                    <!--           ¬ about-gallery           /-->
                    <section class="section-content">
                        <header class="section-header">
                            <h2>Our workshop inside</h2>
                            <div class="divider"></div>
                            <p>At quitting in strictly up wandered of relation answered felicity. Side need at in what dear ever upon if. Same down want joy neat ask pain help she. Alone three stuff use law walls fat asked.</p>
                        </header>
                        <div class="grid-gallery about-gallery row">
                            <!--           ¬ grid-sizer           /-->
                            <div class="grid-sizer col-xs-6 col-sm-4"></div>
                            <!--           end grid-sizer           /-->

                            <!--           ¬ gallery-items          /-->
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="../images/upload/full/auto-92129.jpg" class="grid-gallery-link"><img src="../images/upload/about-gallery/item-1.jpg" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-8 grid-item hover-anim"><a href="../images/upload/full/battery.jpg" class="grid-gallery-link"><img src="../images/upload/about-gallery/item-2.jpg" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="../images/upload/full/car-repair.jpg" class="grid-gallery-link"><img src="../images/upload/about-gallery/item-3.jpg" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="../images/upload/full/shutterstock.jpg" class="grid-gallery-link"><img src="../images/upload/about-gallery/item-4.jpg" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="../images/upload/full/mechanical-engineering.jpg" class="grid-gallery-link"><img src="../images/upload/about-gallery/item-5.jpg" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="../images/upload/full/motorbike.jpg" class="grid-gallery-link"><img src="../images/upload/about-gallery/item-6.jpg" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="../images/upload/full/irish-hands.jpg" class="grid-gallery-link"><img src="../images/upload/about-gallery/item-7.jpg" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="../images/upload/full/speed.jpg" class="grid-gallery-link"><img src="../images/upload/about-gallery/item-8.jpg" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="../images/upload/full/industry-vintage-old-fabric.jpg" class="grid-gallery-link"><img src="../images/upload/about-gallery/item-9.jpg" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <!--           end gallery-items           /-->
                        </div>
                    </section>
                    <!--           end about-gallery           /-->
                </div>
                <!--           end inner-content           /-->
            </div>
        </div>
        <!--           ¬ maintenance           /-->
        <section style="background: url(&quot;../images/pattern.jpg&quot;)" class="section-maintenance parallax-repeat accent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-6">
                        <h2>Is your vehicle due for a qualified maintenance?</h2>
                    </div>
                    <div class="col-sm-5 col-md-6">
                        <button type="button" class="btn btn-regular btn-dark btn-lg" data-toggle="modal" data-target="#modalReserv"><span class="btn-text">Book a service</span><span class="btn-over"></span></button>
                    </div>
                </div>
            </div>
        </section>
        <!--           end maintenance           /-->
    </div>
    <!--           end page-content-wrapper           /-->
</main>
