<div class="row justify-content-center" style="margin-top: 75px">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <h4>Admin</h4>
                <br>
                <ul class="nav nav-pills flex-column account-list" style="margin-bottom: auto; list-style: none; width: 90%">
                    <li><a href="#products" data-toggle="pill" class="active"><span><i class="fa fa-user fa-fw"></i> Products</span></a></li>
                    <li><a href="#serviceAreas" data-toggle="pill"><span><i class="fa fa-credit-card fa-fw"></i> Service Areas</span></a></li>
                    <li><a href="#promotions" data-toggle="pill"><span><i class="fa fa-history fa-fw"></i> Promotions</span></a></li>
                    <li><a href="#referrals" data-toggle="pill"><span><i class="fa fa-history fa-fw"></i> Referrals</span></a></li>
                    <br>
                </ul>
            </div>

            <div ui-view="contentAdmin"></div>

            <div class="tab-content col-md-9 account-container">
                <!--PRODUCTS-->
                <div class="tab-pane active" id="products">
                    <div ui-view="adminProducts"></div>
                </div>
                <!--SERVICE AREAS-->

                <div class="tab-pane" id="serviceAreas">
                    <div ui-view="adminServiceAreas"></div>
                </div>
                <!--PROMOTIONS-->
                <div class="tab-pane" id="promotions">
                    <div ui-view="adminPromotions"></div>
                </div>
                <!--PROMOTIONS-->
                <div class="tab-pane" id="referrals">
                    <div ui-view="adminReferrals"></div>
                </div>
            </div>
        </div>
    </div>
</div>
