<main class="page-content">
    <!--           ¬ section-intro           /-->
    <!--           ¬ section intro           /-->
    <section style="background-image: url(../images/pattern.jpg)" class="catalog-intro-page parallax-repeat dark">
        <div class="container" style="margin-left: 150px">
            <div class="catalog-intro-page__content">
                <h1>Products</h1>
            </div>
        </div>
    </section>
    <!--           end section intro           /-->
    <!--           end section-intro           /-->
    <!--           ¬ navbar filter           /-->
    <nav class="navbar navbar-accent navbar-panel">
        <div class="container" style="margin-left: 150px; margin-right: 150px">
            <div id="navCategories" class="collapse navbar-collapse" style="width: 1500px">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="true" class="dropdown-toggle">Mufflers<span class="fa fa-caret-down"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>
                                <ul class="list-default">
                                    <li><a href="#">Universal Aluminized</a></li>
                                    <li><a href="#">High Performance</a></li>
                                    <li><a href="#">Tractor Mufflers</a></li>
                                </ul>
                                <ul class="list-default">
                                    <li><a href="#">Stainless Steel</a></li>
                                    <li><a href="#">Truck Mufflers</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Exhaust Tips<span class="fa fa-caret-down"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>
                                <ul class="list-default">
                                    <li><a href="#">Body mouldings</a></li>
                                    <li><a href="#">Body panels</a></li>
                                    <li><a href="#">Grilles</a></li>
                                    <li><a href="#">Mirrors</a></li>
                                    <li><a href="#">Locking wheel kits</a></li>
                                    <li><a href="#">Wheel bolts</a></li>
                                </ul>
                                <ul class="list-default">
                                    <li><a href="#">Wheel nuts</a></li>
                                    <li><a href="#">Tailored mats</a></li>
                                    <li><a href="#">Washer system</a></li>
                                    <li><a href="#">Wiper blades</a></li>
                                    <li><a href="#">Heat exchangers</a></li>
                                    <li><a href="#">Cables</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Flexible Tubes</a></li>
                    <li class="dropdown"><a href="#">Catalytic Converters</a></li>
                    <li class="dropdown"><a href="#">Hangers & Insulators</a></li>
                    <li class="dropdown"><a href="#">Exhaust Clamps</a></li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Accessories<span class="fa fa-caret-down"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>
                                <ul class="list-default">
                                    <li><a href="#">Car cleaning</a></li>
                                    <li><a href="#">Car maintainance</a></li>
                                    <li><a href="#">Fluids</a></li>
                                    <li><a href="#">Security</a></li>
                                    <li><a href="#">For winter</a></li>
                                    <li><a href="#">For summer</a></li>
                                </ul>
                                <ul class="list-default">
                                    <li><a href="#">GPS navigators</a></li>
                                    <li><a href="#">Parking Aids</a></li>
                                    <li><a href="#">Entertainment</a></li>
                                    <li><a href="#">Sound systems</a></li>
                                    <li><a href="#">Bluetooth handsfree kits</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--           end navbar filter           /-->
    <!--           ¬ content inner           /-->
    <div class="page-content-wrapper">
        <div class="container">
            <!--           ¬ hm-pricing__list           /-->
            <div class="grid-row section-pricing__list row">
                <div class="col-xs-1 grid-sizer"></div>
                <!--           ¬ lg banner           /-->
                <div class="col-xs-12 col-sm-12 col-lg-6 grid-item">
                    <div class="pricing-banner hover-anim">
                        <div class="pricing-banner__top"><a href="#" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                            <figure class="pricing-banner__img"><img src="../../../gapspeed/public/theme/images/upload/pricing/item1.jpg" alt="" class="img-responsive"></figure>
                        </div>
                        <div class="pricing-banner__info"><span class="cost">Mufflers</span></div>
                    </div>
                </div>
                <!--           end lg banner           /-->

                <div class="col-xs-12 col-sm-12 col-lg-6 grid-item">
                    <div class="pricing-banner hover-anim">
                        <div class="pricing-banner__top"><a href="#" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                            <figure class="pricing-banner__img"><img src="../../../gapspeed/public/theme/images/upload/pricing/item1.jpg" alt="" class="img-responsive"></figure>
                        </div>
                        <div class="pricing-banner__info"><span class="cost">Exhuast Tips</span></div>
                    </div>
                </div>

                <!--           ¬ sm-4 banners           /-->
                <div class="col-xs-12 col-md-6 col-lg-4 grid-item">
                    <div class="pricing-banner hover-anim">
                        <div class="pricing-banner__top"><a href="#" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                            <figure class="pricing-banner__img"><img src="../../../gapspeed/public/theme/images/upload/pricing/item2.jpg" alt="" class="img-responsive"></figure>
                        </div>
                        <div class="pricing-banner__info"><span class="cost">Flexible Tubes</span></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 grid-item">
                    <div class="pricing-banner hover-anim">
                        <div class="pricing-banner__top"><a href="#" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                            <figure class="pricing-banner__img"><img src="../../../gapspeed/public/theme/images/upload/pricing/item3.jpg" alt="" class="img-responsive"></figure>
                        </div>
                        <div class="pricing-banner__info"><span class="cost">Exhaust Hangers/Insulators</span></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 grid-item">
                    <div class="pricing-banner hover-anim">
                        <div class="pricing-banner__top"><a href="#" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                            <figure class="pricing-banner__img"><img src="../../../gapspeed/public/theme/images/upload/pricing/item4.jpg" alt="" class="img-responsive"></figure>
                        </div>
                        <div class="pricing-banner__info"><span class="cost">Exhaust Clamps</span></div>
                    </div>
                </div>
                <!--           end sm-4 banners           /-->

                <!--           ¬ lg banner           /-->
                <div class="col-xs-12 col-sm-12 col-lg-6 grid-item">
                    <div class="pricing-banner hover-anim">
                        <div class="pricing-banner__top"><a href="#" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                            <figure class="pricing-banner__img"><img src="../../../gapspeed/public/theme/images/upload/pricing/item5.jpg" alt="" class="img-responsive"></figure>
                        </div>
                        <div class="pricing-banner__info"><span class="cost">Catalytic Converters</span></div>
                    </div>
                </div>
                <!--           end lg banner           /-->

                <!--           ¬  blog cards           /-->
                <div class="col-xs-12 col-sm-6 col-lg-3 grid-item">
                    <div class="pricing-card hover-anim"><a href="#" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                        <figure class="pricing-card__thumb"><img src="../../../gapspeed/public/theme/images/upload/pricing/bg.jpg" alt="" class="img-responsive"></figure>
                        <div class="pricing-card__body">
                            <div class="expand-title"><span class="cost">Gaskets</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 grid-item">
                    <div class="pricing-card hover-anim"><a href="#" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                        <figure class="pricing-card__thumb"><img src="../../../gapspeed/public/theme/images/upload/pricing/bg.jpg" alt="" class="img-responsive"></figure>
                        <div class="pricing-card__body">
                            <div class="expand-title"><span class="cost">Spark Arrestors</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 grid-item">
                    <div class="pricing-card hover-anim"><a href="#" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                        <figure class="pricing-card__thumb"><img src="../../../gapspeed/public/theme/images/upload/pricing/bg.jpg" alt="" class="img-responsive"></figure>
                        <div class="pricing-card__body">
                            <div class="expand-title"><span class="cost">Actros Benz Parts</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 grid-item">
                    <div class="pricing-card hover-anim"><a href="#" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                        <figure class="pricing-card__thumb"><img src="../../../gapspeed/public/theme/images/upload/pricing/bg.jpg" alt="" class="img-responsive"></figure>
                        <div class="pricing-card__body">
                            <div class="expand-title"><span class="cost">More Accessories...</span></div>
                        </div>
                    </div>
                </div>
                <!--           end  blog cards           /-->
            </div>
            <!--           end hm-pricing__list           /-->
        </div>
    </div>
    <!--           end content inner           /-->

    <!--           ¬ brands-row           /-->
</main>
