/* multi step forms */
/*custom font*/
/*basic reset*/
/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #427ff7;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #427ff7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #427ff7;
}

#msform .action-button-middle {
    width: 100px;
    background: #4b4b4b;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-middle:hover, #msform .action-button-middle:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #4b4b4b;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    display: inline-flex;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    display: inline-list-item;
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 9px;
    width: 120px;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #427ff7;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #427ff7;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btn-circle.btn-xl {
    width: 125px;
    height: 125px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 26px;
    line-height: 1.33;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    line-height: 1.42857;
}

/** {*/
    /*font-size: 100%;*/
    /*font-family: SourceSansPro;*/
/*}*/

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 30px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

/*******************     ORDER BOX CSS     *******************/
.open-order-box{
    height: 70px;
    background-color: #ffffff;
    border: solid 1px #e1effa;
}

.order-box{
    /*height: 275px;*/
    /*box-shadow: 1px 2px 8px rgba(0, 0, 0, .2);*/
    /*background-color: white;*/

    width: 271px;
    height: 288px;
    background-color: #ffffff;
    box-shadow: 0 6px 12px 0 rgba(141, 145, 153, 0.1), 0 0 1px 0 rgba(230, 230, 230, 0.35);
}

.order-form{
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .2);
    background-color: white;
}

.order-box:hover{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1)
}

.service-box{
     box-shadow: 1px 2px 8px rgba(75, 75, 75, 0.2);
     background-color: white;
     text-align: center;
     padding: 30px 20px 20px 20px;
     height: 250px;
 }

.service-box:hover{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1)
}

.service-box.selected{
    /*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
    background-color: rgb(242, 243, 246);
}

.service-sub-box{
    box-shadow: 1px 2px 8px rgba(75, 75, 75, 0.2);
    background-color: white;
    text-align: center;
    padding: 20px 10px 10px 10px;
    height: 100px;
}

.service-sub-box:hover{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1)
}

.service-sub-box.selected{
    /*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
    background-color: rgb(242, 243, 246);
}

.card-box{
    width: 293px;
    height: 170px;
    border-radius: 2px;
    /*background-color: #f7fafc;*/
    border: dashed 1px #a8cff0;

    /*border: solid 1px gray;*/
    /*border-radius: 5px;*/
    /*height: 150px;*/
}

.card-box:hover{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1)
}

.card-box.selected{
    width: 293px;
    height: 170px;
    border-radius: 2px;
    background-color: #f7fafc;
    border: solid 2px #2c3e50;

    /*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
    /*background-color: rgb(242, 243, 246);*/
}

.checkDiv{
    width: 42px;
    height: 42px;
    /*border-radius: 2px;*/
    /*background-color: #2c3e50;*/
}

.checkTriangle{
    border-top: 42px solid #2c3e50;
    border-right: 42px solid transparent;
}

.card-name-title{
    width: 29px;
    height: 13px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #a1aab3;
}

.card-name{
    width: 141px;
    height: 18px;
    font-family: RobotoMono;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3f3f3f;
}


.card-stars{
    font-family: RobotoMono;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #2c3e50;
}

.add-card{
    width: 293px;
    height: 170px;
    border-radius: 2px;
    border: dashed 1px #a8cff0;
}

.previousStep {
    width: 178px;
    height: 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(141, 145, 153, 0.14);
    text-align: center;
    cursor: pointer;
}

.semiBold{
    font-family: SourceSansPro;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c3e50;
}

.Add-new-credit-card {
    width: 134px;
    height: 18px;
    font-family: SourceSansPro;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #2c3e50;
}

/************************************************************/

/*******************     ACCOUNT CSS     *******************/

.account-list li{
    width: 100%;
    margin: 5px 0 5px 0;
    /*padding: 10px 10px 10px 10px;*/
}

.account-list li a{
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    color: black;
}

.account-list a:hover{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    text-decoration: none;
}

.account-list li > a.active{
    border-radius: 3px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .2);
    background-color: white;
}

.account-container{
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .2);
    background-color: white;
}

.areaType-tab{
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #a8cff0;
    box-shadow: 0 6px 12px 0 rgba(141, 145, 153, 0.1), 0 0 1px 0 rgba(230, 230, 230, 0.35);
}

.areaType-tab.selected{
    border-radius: 3px;
    border: solid 2px #427ff7;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .2);
    background-color: white;
}

.areaType-tab:hover{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    text-decoration: none;
}


.add-credit-card{
    border: dashed 1px;
}

/************************************************************/

.add-service-box{
    height: 275px;
    /*width: 100%;*/
    border: dashed 1px;
}


.button{
    height: 45px;
    width: 150px;
    border-radius: 5px;
    font-family: Arial;
    color: #000000;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid gainsboro 1px;
    text-decoration: none;
}

.button:hover {
    background: whitesmoke;
    text-decoration: none;
    color: black;
}

.apply-button{
    height: 40px;
    width: 75px;
    border-radius: 5px;
    color: #000000;
    background: #ffffff;
    padding: 5px 10px 5px 10px;
    border: solid gainsboro 1px;
}

.apply-button:hover{
    background: whitesmoke;
    text-decoration: none;
    color: black;
}

input.underline{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

input.non-edit{
    border: 0;
    outline: 0;
    background: transparent;
}

.error-msg{
    color: red;
    font-size: 10px;
}

.success-msg{
    color: green;
    font-size: 10px;
}

/*containers*/
.Rectangle-21-Copy-2 {
    width: 758px;
    height: auto;
    padding-bottom: 48px;
    /*min-height: 505px;*/
    max-height: 582px;
    background-color: #ffffff;
    border: solid 1px #e1effa;
}

.Rectangle-21-Edit-Card {
    width: 758px;
    /*height: 403px;*/
    min-height: 58px;
    /*padding-bottom: 35px;*/
    background-color: #ffffff;
    border: solid 1px #e1effa;
}



/*.Rectangle-21-Copy-2 {*/
    /*width: 758px;*/
    /*height: 582px;*/
    /*background-color: #ffffff;*/
    /*border: solid 1px #e1effa;*/
/*}*/

.Rectangle-21-Copy-3 {
    /*width: 756px;*/
    height: 55px;
    /*padding: 0 0 0 0;*/
    background-color: #f7fafc;
}

.Rectangle-Copy-4 {
    /*width: 40px;*/
    height: 27px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #cad2db;
}

/*inputs*/
.Rectangle-3 {
    width: 453px;
    height: 44px;
    background-color: #ffffff;
    border: solid 1px #eaecee;
}

.Rectangle-3-small {
    width: 143px;
    height: 44px;
    background-color: #ffffff;
    border: solid 1px #eaecee;
}

.Rectangle-3-med {
    width: 209px;
    height: 44px;
    background-color: #ffffff;
    border: solid 1px #eaecee;
}

/*button*/
.Rectangle-9-Copy-3 {
    color: #ffffff;
    width: 128px;
    height: 44px;
    background-color: #2c3e50;
}

.Rectangle-9-Copy-3 {
    width: 162px;
    height: 44px;
    background-color: #2c3e50;
}


.Cancel {
    /*color: #ffffff;*/
    width: 128px;
    height: 44px;
    /*background-color: #2c3e50;*/
    /*width: 128px;*/
    /*height: 44px;*/
    background-color: transparent;
    border: none;
    /*width: 53px;*/
    /*height: 23px;*/
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c3e50;
}

.expiration {
    border: 1px solid #bbbbbb;
}
.expiration input {
    border: 0;
}

/*text*/
.Name-on-Card {
    /*width: 93px;*/
    /*height: 17px;*/
    font-family: SourceSansPro;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #a1aab3;
}

.Postal-Card {
    /*width: 108px;*/
    /*height: 17px;*/
    font-family: SourceSansPro;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #a1aab3;
}

.Checkbox {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border: solid 2px #2c3e50;
}

.Use-as-default {
    font-family: SourceSansPro;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #2c3e50;
}

.Delete {
    font-family: SourceSansPro;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #4e9dde;
}

.infoMap-button{
    width: 162px;
    height: 44px;
    background-color: #2c3e50;
}


.Rectangle-3-ServiceArea {
    width: 100%;
    height: 44px;
    background-color: #ffffff;
    border: solid 1px #eaecee;
}

.Rectangle-21-ServiceArea {
    width: 758px;
    height: auto;
    padding-bottom: 48px;
    /*min-height: 505px;*/
    max-height: 1250px;
    background-color: #ffffff;
    border: solid 1px #e1effa;
}


.order-history-header{
    width: 758px;
    height: 43px;
    background-color: #e8f2fa;
}

.order-history-header-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #2c3e50;
    text-align: center;
}

.order-history-table-line-blue{
    width: 758px;
    height: 77px;
    background-color: #f7fafc;
}

.order-history-table-line-white{
    width: 758px;
    height: 77px;
}

.order-history-table-date{
    font-family:  'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c3e50;
    text-align: center;
}

.order-history-table-card{
    width: 37px;
    height: 27px;
    border-radius: 2.1px;
    background-color: #ffffff;
    border: solid 0.7px #cad2db;
}

.order-history-text{
    font-family:  'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2c3e50;
    text-align: center;
}
