<!--<div class="row justify-content-center">-->
    <!--<div class="col-md-8">-->
        <!--<div style="text-align: center">-->
            <!--<h3 style="margin-top: 0">Earn credits by referring!</h3>-->
            <!--<hr>-->
        <!--</div>-->
        <!--<div class="tab-pane-content col-md-12">-->
            <!--<div class="panel panel-primary col-lg-offset-2 col-lg-8 form-wrapper">-->
                <!--<h4>Let your friends know about Mr. Baffo!</h4>-->
                <!--<hr>-->
                <!--<h4>Credits Earned:</h4> <h3>${{credits}}</h3>-->
                <!--<hr>-->
                <!--<h5>Your referral code: <code>{{referralCode}}</code></h5>-->
                <!--<hr>-->
                <!--<h5>For more information about our referral program please visit-->
            <!--<a href="http://help.mrbaffo.com/" target="_blank">FAQ</a></h5></div></div>-->
    <!--</div>-->
<!--</div>-->

<div class="row justify-content-center" style="margin-top: 75px">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-md-2 m-md-2">
                <h4>Referral</h4>
                <p>Here's where to set up your referrals and invite your friends for Mr.Baffo Credits!</p>
            </div>

            <div class="col-md-6 m-md-2 order-form">
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <div class="row justify-content-start">
                            <div class="col-md-12" style="margin-top: 40px">
                                <h4 style="font-weight: 300; font-style: normal"><small>Invite Friends and Earn Credits</small></h4>
                                Your Referral code is {{userInfo.referralInfo.referralCode}}
                                <br>
                                Credits Earned: ${{userInfo.referralInfo.credits}}
                                <br>
                                <br>
                                People Referred:
                            </div>
                            <div class="col-md-12" ng-repeat="referredUser in userInfo.referralInfo.referredUsers">
                                {{referredUser.email}}
                                <br>
                                {{referredUser.status}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>