<main class="page-content">
    <!--           ¬ section intro           /-->
    <section style="background-image: url(../../../gapspeed/public/theme/images/pattern.jpg)" class="intro-page parallax-repeat dark">
        <div class="container">
            <div class="intro-page__content-wrapper">
                <h1>Contacts</h1>
            </div>
        </div>
    </section>
    <!--           end section intro           /-->

    <!--           ¬ breadcrumbs           /-->
    <div id="breadcrumbs" class="breadcrumbs-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active"><span>Contacts</span></li>
            </ol>
        </div>
    </div>
    <!--           end breadcrumbs           /-->

    <!--           ¬ page-content-wrapper           /-->
    <div class="page-content-wrapper">
        <div class="container">
            <div class="row">
                <!--           ¬ inner-content           /-->
                <div class="col-md-9">
                    <!--           ¬ section content           /-->
                    <section class="section-content">
                        <header class="section-header">
                            <h2>Services overview</h2>
                            <div class="divider"></div>
                            <p>Inhabiting discretion the her dispatched decisively boisterous joy. So form were wish open is able of mile of. Waiting express if prevent it we an musical. Especially reasonable travelling she son. Resources resembled forfeited no to zealously. Has procured daughter how friendly followed repeated who surprise.</p>
                        </header>
                        <!--           ¬ contacts-list           /-->
                        <div class="contacts-list row">
                            <div class="contacts-list__item col-sm-6 col-lg-4"><i class="icon pe-7s-map-2"></i>
                                <ul>
                                    <li>64 Weigall Avenue, Mount Bryan,</li>
                                    <li>SA 1587, Australia</li>
                                </ul>
                            </div>
                            <div class="contacts-list__item col-sm-6 col-lg-4"><i class="icon pe-7s-phone"></i>
                                <ul>
                                    <li><a href="tel:+18184925810">+1 (818) 492 58 10</a></li>
                                    <li><a href="fax:+18184102900">+1 (818) 410 29 00 (fax)</a></li>
                                </ul>
                            </div>
                            <div class="contacts-list__item col-sm-12 col-lg-4"><i class="icon pe-7s-clock"></i>
                                <ul>
                                    <li>Mon — Tue:  8:00 — 21:00</li>
                                    <li>Sat — Sun:  10:00 — 18:00</li>
                                </ul>
                            </div>
                        </div>
                        <!--           end contacts-list           /-->
                        <!--           ¬ map           /-->
                        <section id="map" class="contacts-map">
                            <h2 class="hide">Section title</h2>
                        </section>
                        <!--           end map           /-->
                        <article class="panel contacts-panel">
                            <div class="panel__inner contacts-panel__inner">
                                <header class="contacts-panel-header">
                                    <h2>Send us a message</h2>
                                    <div class="divider"></div>
                                    <p>We will reply you in 48 hours (on business days).</p>
                                </header>

                                <div class="contacts-form">
                                    <form id="contactsForm" action="#" method="POST" data-toggle="validator">
                                        <div class="form-inner row">
                                            <div class="col-sm-6 form-group">
                                                <label for="contName" class="label-control">Your name</label>
                                                <div class="input-wrap input-wrap--icon-left"><i class="input-icon pe-7s-user"></i>
                                                    <input id="contName" type="text" name="user_name" placeholder="David Kraemer" required class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-sm-6 form-group">
                                                <label for="contEmail" class="label-control">Your e-mail</label>
                                                <div class="input-wrap input-wrap--icon-left"><i class="input-icon pe-7s-mail"></i>
                                                    <input id="contEmail" type="email" name="user_email" placeholder="user@example.com" required class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-xs-12 form-group">
                                                <label for="contMsg" class="label-control">Your message</label>
                                                <textarea id="contMsg" name="user_message" required class="form-control"></textarea>
                                            </div>

                                            <div class="col-xs-12">
                                                <button type="submit" class="btn btn-regular btn-accent"><span class="btn-text">Make reservation</span><span class="btn-over"></span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </article>
                    </section>
                    <!--           end section content           /-->
                </div>
                <!--           end inner-content           /-->
                <!--           ¬ sidebar           /-->
                <aside class="col-md-3 sidebar sidebar--md-left">
                    <article class="sidebar-panel">
                        <h2 class="hide">Section title</h2>
                        <div class="sidebar-panel__inner">
                            <section class="sidebar-form">
                                <h4>Subscribe</h4>
                                <p>Be the first who will know about Carros special offers and discount promotions!</p>
                                <div class="form-modul form-subscribe">
                                    <form id="sidebarForm" action="#" method="POST" data-toggle="validator">
                                        <div class="form-group">
                                            <label for="sidebarEmail" class="label-control">Enter your e-mail</label>
                                            <div class="input-wrap">
                                                <input id="sidebarEmail" type="email" name="user_email" required class="form-control">
                                                <button type="submit" class="form-modul-btn"><i class="pe-7s-paper-plane"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </section>

                            <section class="sidebar-services">
                                <h4>Services</h4>
                                <ul class="list-default">
                                    <li><a href="../../../gapspeed/public/theme/pages/service-details.html">Logbook service</a></li>
                                    <li><a href="../../../gapspeed/public/theme/pages/services.html">4WD vehicle maintainance</a></li>
                                    <li><a href="../../../gapspeed/public/theme/pages/services.html">Roadworhy test</a></li>
                                    <li><a href="../../../gapspeed/public/theme/pages/services.html">Clutch replacement</a></li>
                                    <li><a href="../../../gapspeed/public/theme/pages/services.html">Tiers sale & setup</a></li>
                                    <li><a href="../../../gapspeed/public/theme/pages/services.html">Air conditioner setup</a></li>
                                </ul>
                            </section>

                            <section class="sidebar-faq">
                                <h4>FAQ</h4>
                                <ul class="list-default">
                                    <li><a href="faq.html">Why do I need my car to get servied?</a></li>
                                    <li><a href="faq.html">How often do I need to check my tyres?</a></li>
                                    <li><a href="faq.html">How do I know if my battery needs to be replaced?</a></li>
                                </ul>
                            </section>

                            <section class="sidebar-contacts">
                                <h4>Contacts</h4>
                                <ul class="contacts-list-regular">
                                    <li><i class="icon pe-7s-map-marker"></i><span>64 Weigall Avenue, Mount Bryan, SA 5110, Australia</span></li>
                                    <li><i class="icon pe-7s-phone"></i><a href="tel:+18184925810">+1 (818) 492 58 10</a></li>
                                </ul>
                            </section>

                            <section class="sidebar-social">
                                <h2 class="hide">Section title</h2>
                                <ul class="social-list">
                                    <li><a href="#" class="fa fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></a></li>
                                    <li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a></li>
                                    <li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a></li>
                                    <li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></a></li>
                                </ul>
                            </section>
                        </div>
                    </article>
                </aside>
                <!--           end sidebar           /-->
            </div>
        </div>
        <!--           ¬ maintenance           /-->
        <section style="background: url(&quot;images/pattern.jpg&quot;)" class="section-maintenance parallax-repeat accent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-6">
                        <h2>Is your vehicle due for a qualified maintenance?</h2>
                    </div>
                    <div class="col-sm-5 col-md-6">
                        <button type="button" class="btn btn-regular btn-dark btn-lg" data-toggle="modal" data-target="#modalReserv"><span class="btn-text">Book a service</span><span class="btn-over"></span></button>
                    </div>
                </div>
            </div>
        </section>
        <!--           end maintenance           /-->
    </div>
    <!--           end page-content-wrapper           /-->

</main>
