<div class="row justify-content-center" style="margin-top: 75px">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <h4>Edit Order</h4>
                <p>Please fill out the form on the right to complete your order.</p>

                <div class="previousStep" ui-sref="user.order">
                    <p class="semiBold" style="padding-top: 10px">
                        <i class="fa fa-arrow-left fa-fw"></i>&nbsp;&nbsp;Go to Home
                    </p>
                </div>
            </div>

            <div class="col-md-8 order-form" ng-hide="orderComplete">
                <div class="row justify-content-center">
                    <div class="col-md-10" style="padding-top: 30px; padding-bottom: 30px">
                        <div>
                            <!--list-->
                            <div class="row">
                                <div class="col-md-2">
                                    <h4 style="font-weight: 300; font-style: normal">1. Location</h4>
                                </div>
                                <div class="col-md-8" style="padding-left: 30px" ng-hide="locationFocus">
                                    <span style="font-weight: 200; font-style: normal">Home</span>
                                    <br>
                                    <span style="font-weight: 300; font-style: normal">{{request.address.address}} {{request.address.city}}</span>
                                </div>
                                <div class="col-md-2" style="text-align: right" ng-hide="locationFocus">
                                    <span style="font-weight: 200; font-style: normal; text-decoration: underline; cursor: pointer" ng-click="editFocus('location')">Edit</span>
                                </div>
                            </div>
                            <!--form-->
                            <div class="row" id="locationForm" style="display: none; margin-top: 30px">
                                <div class="col-md-4">
                                    <div class="form-inline">
                                        <i style="font-size:2em; margin-right: 20px" class="fa fa-location-arrow"></i>
                                        <select class="form-control" id="discountType" style="width: 70%" ng-model="addressType"
                                                ng-options='option.name as option.name for option in areaTypes'>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <form novalidate name="orderAddressForm">
                                        <div class="row justify-content-end">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="homeAddress" style="margin-bottom: 0"><span style="font-weight: 200; font-style: normal">Address</span></label>
                                                    <input id="homeAddress" type="text" name="address" ng-required="true"
                                                           class="" ng-class="{ 'underline' : locationEdit, 'non-edit': !locationEdit}" ng-readonly="!locationEdit"
                                                           ng-model="request.address.address" style="margin-bottom: 5px"/>
                                                    <p ng-show="orderAddressForm.address.$invalid && !orderAddressForm.address.$pristine" class="error-msg" style="margin-bottom: 5px">Your address is required.</p>
                                                </div>
                                                <div class="form-group">
                                                    <label for="homeCity" style="margin-bottom: 0"><span style="font-weight: 200; font-style: normal">City</span></label>
                                                    <br>
                                                    <input id="homeCity" type="text" name="city" ng-required="true"
                                                           class="" ng-class="{ 'underline' : locationEdit, 'non-edit': !locationEdit}" ng-readonly="!locationEdit"
                                                           ng-model="request.address.city" style="margin-bottom: 5px"/>
                                                    <p ng-show="orderAddressForm.city.$invalid && !orderAddressForm.city.$pristine" class="error-msg" style="margin-bottom: 5px">You city is required.</p>
                                                </div>
                                                <div class="form-group">
                                                    <label for="homePostal" style="margin-bottom: 0"><span style="font-weight: 200; font-style: normal">Zip Code</span></label>
                                                    <input id="homePostal" type="text" name="postal" pattern="[A-Za-z][0-9][A-Za-z] [0-9][A-Za-z][0-9]" ng-minlength="7"
                                                           class="" ng-class="{ 'underline' : locationEdit, 'non-edit': !locationEdit}" ng-readonly="!locationEdit"
                                                           ng-model="request.address.postal" style="margin-bottom: 5px"/>
                                                    <p ng-show="orderAddressForm.postal.$error.minlength" class="error-msg" style="margin-bottom: 5px">Please enter a postal code in the format Y#Y Y#Y</p>
                                                    <p ng-show="orderAddressForm.postal.$invalid && !orderAddressForm.postal.$pristine" class="error-msg" style="margin-bottom: 5px">You postal code is required.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="homeUnit" style="margin-bottom: 0"><span style="font-weight: 200; font-style: normal">Unit No</span></label>
                                                    <input id="homeUnit" type="text"
                                                           class="" ng-class="{ 'underline' : locationEdit, 'non-edit': !locationEdit}" ng-readonly="!locationEdit"
                                                           ng-model="request.address.unit" style="margin-bottom: 5px"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="homeBuzzer" style="margin-bottom: 0"><span style="font-weight: 200; font-style: normal">Buzzer</span></label>
                                                    <input id="homeBuzzer" type="text"
                                                           class="" ng-class="{ 'underline' : locationEdit, 'non-edit': !locationEdit}" ng-readonly="!locationEdit"
                                                           ng-model="request.address.buzzer" style="margin-bottom: 5px"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="homeNotes" style="margin-bottom: 0"><span style="font-weight: 200; font-style: normal">Notes</span></label>
                                                    <input id="homeNotes" type="text"
                                                           class="" ng-class="{ 'underline' : locationEdit, 'non-edit': !locationEdit}" ng-readonly="!locationEdit"
                                                           ng-model="request.address.notes" style="margin-bottom: 5px"/>
                                                </div>

                                            </div>

                                            <div class="col-md-2" style="text-align: right">
                                                <span style="font-weight: 200; font-style: normal; text-decoration: underline; cursor: pointer" ng-click="editFlag('location')">Edit</span>
                                            </div>
                                        </div>

                                        <div class="row justify-content-end">
                                            <div class="col-md-10">
                                                <hr>
                                            </div>
                                            <div class="col-md-10">
                                                <fieldset class="form-group">
                                                    <span style="font-weight: 200; font-style: normal">I have a concierge?</span>
                                                    <div class="form-check" style="margin-top: 10px">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" id="concierge1" ng-model="request.address.conciergeReq"  ng-value="true" ng-required="!request.address.conciergeReq">
                                                            <span style="font-weight: 300; font-style: normal">Yes</span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" id="concierge2" ng-model="request.address.conciergeReq" ng-value="false" ng-required="!request.address.conciergeReq">
                                                            <span style="font-weight: 300; font-style: normal">No</span>
                                                        </label>
                                                    </div>
                                                </fieldset>
                                                <br>
                                                <fieldset class="form-group">
                                                    <span style="font-weight: 200; font-style: normal">My concierge accepts dry cleaning</span>
                                                    <div class="form-check" style="margin-top: 10px">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="conciergeAccept" id="conciergeAccept1" ng-model="request.address.conciergeAccept" ng-value="true" ng-required="!request.address.conciergeAccept">
                                                            <span style="font-weight: 300; font-style: normal">Yes</span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="conciergeAccept" id="conciergeAccept2" ng-model="request.address.conciergeAccept" ng-value="false" ng-required="!request.address.conciergeAccept">
                                                            <span style="font-weight: 300; font-style: normal">No</span>
                                                        </label>
                                                    </div>
                                                </fieldset>
                                                <button type="button" class="btn btn-primary" ng-disabled="orderAddressForm.$invalid" ng-click="confirmAddress(request.address, addressType)" style="width: 150px; height: 50px; float: right"><i class=""></i>Confirm</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--list-->
                        <div class="row">
                            <div class="col-md-2">
                                <h4 style="font-weight: 300; font-style: normal">2. Time</h4>
                            </div>
                            <div class="col-md-8" style="display: inline-flex; padding-left: 30px" ng-show="!timeFocus && !(request.pickup === undefined && request.delivery === undefined)">
                                <div ng-show="conciergeTimeFlag" style="display: inline-flex;">
                                    <div>
                                        <span style="font-weight: 200; font-style: normal">Drop off on:</span>
                                        <br>
                                        <span style="font-weight: 300; font-style: normal">{{request.pickup.date}},&nbsp;&nbsp;Before:&nbsp;{{request.pickup.start}}</span>
                                    </div>
                                    <div style="margin-left: 30px">
                                        <span style="font-weight: 200; font-style: normal">Pick up on:</span>
                                        <br>
                                        <span style="font-weight: 300; font-style: normal">{{request.delivery.date}}&nbsp;&nbsp;After:&nbsp;&nbsp;{{request.delivery.start}}</span>
                                    </div>
                                </div>
                                <div ng-hide="conciergeTimeFlag"style="display: inline-flex;">
                                    <div>
                                        <span style="font-weight: 200; font-style: normal">Pickup Time</span>
                                        <br>
                                        <span style="font-weight: 300; font-style: normal">{{request.pickup.date}}&nbsp;&nbsp;&nbsp;{{request.pickup.start}} &nbsp;&nbsp;To:&nbsp;&nbsp;{{request.pickup.end}}</span>
                                    </div>
                                    <div style="margin-left: 30px">
                                        <span style="font-weight: 200; font-style: normal">Delivery Time</span>
                                        <br>
                                        <span style="font-weight: 300; font-style: normal">{{request.delivery.date}}&nbsp;&nbsp;&nbsp;{{request.delivery.start}} &nbsp;&nbsp;To:&nbsp;&nbsp;{{request.delivery.end}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" style="text-align: right" ng-show="!timeFocus && !(request.pickup === undefined && request.delivery === undefined)">
                                <span style="font-weight: 200; font-style: normal; text-decoration: underline; cursor: pointer" ng-click="editFocus('time')">Edit</span>
                            </div>
                        </div>
                        <!--form-->
                        <div class="row no-gutters" id="timeForm" style="display: none; margin-top: 30px">
                            <div class="col-md-12" style="background-color: #f8f9fa; height: 50px">
                                <div class="row justify-content-start no-gutters">
                                    <div class="col-md-3" style="margin-top: 15px;margin-left: 20px">
                                        <span style="font-weight: 400; font-style: normal" ng-show="conciergeTimeFlag"><b>Drop off on:</b></span>
                                        <span style="font-weight: 400; font-style: normal" ng-hide="conciergeTimeFlag"><b>Your Pickup Time:</b></span>
                                    </div>
                                    <div class="col-md-2" style="margin-top: 15px;">
                                        <span style="font-weight: 400; font-style: normal"><i class="fa fa-calendar fa-fw"></i>  {{request.pickup.date}}</span>
                                    </div>
                                    <div class="col-md-6" style="margin-top: 15px" ng-show="conciergeTimeFlag">
                                        <div class="row justify-content-start no-gutters">
                                            <div class="col-md-2">
                                                <span style="font-weight: 400; font-style: normal">Before:</span>
                                            </div>
                                            <div class="col-md-3">
                                                <span style="font-weight: 400; font-style: normal"><i class="fas fa-clock fa-fw"></i>&nbsp;&nbsp;{{request.pickup.start}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top: 15px" ng-hide="conciergeTimeFlag">
                                        <div class="row justify-content-start no-gutters">
                                            <div class="col-md-3">
                                                <span style="font-weight: 400; font-style: normal"><i class="fas fa-clock fa-fw"></i>&nbsp;&nbsp;{{request.pickup.start}}</span>
                                            </div>
                                            <div class="col-md-2">
                                                <span style="font-weight: 400; font-style: normal">TO</span>
                                            </div>
                                            <div class="col-md-3">
                                                <span style="font-weight: 400; font-style: normal"><i class="fas fa-clock fa-fw"></i>&nbsp;&nbsp;{{request.pickup.end}}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12" style="background-color: #f8f9fa; height: 50px; margin-top: 20px">
                                <div class="row justify-content-start no-gutters">
                                    <div class="col-md-3" style="margin-top: 15px; margin-left: 20px">
                                        <span style="font-weight: 400; font-style: normal" ng-show="conciergeTimeFlag"><b>Pickup on:</b></span>
                                        <span style="font-weight: 400; font-style: normal" ng-hide="conciergeTimeFlag"><b>Your Delivery Time:</b></span>
                                    </div>
                                    <div class="col-md-2" style="margin-top: 15px;">
                                        <span style="font-weight: 400; font-style: normal"><i class="fa fa-calendar fa-fw"></i>  {{request.delivery.date}}</span>
                                    </div>
                                    <div class="col-md-6" style="margin-top: 15px" ng-show="conciergeTimeFlag">
                                        <div class="row justify-content-start no-gutters">
                                            <div class="col-md-2">
                                                <span style="font-weight: 400; font-style: normal">After:</span>
                                            </div>
                                            <div class="col-md-3">
                                                <span style="font-weight: 400; font-style: normal"><i class="fas fa-clock fa-fw"></i>&nbsp;&nbsp;{{request.delivery.start}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top: 15px" ng-hide="conciergeTimeFlag">
                                        <div class="row justify-content-start no-gutters">
                                            <div class="col-md-3">
                                                <span style="font-weight: 400; font-style: normal"><i class="fas fa-clock fa-fw"></i>&nbsp;&nbsp;{{request.delivery.start}}</span>
                                            </div>
                                            <div class="col-md-2">
                                                <span style="font-weight: 400; font-style: normal">TO</span>
                                            </div>
                                            <div class="col-md-3">
                                                <span style="font-weight: 400; font-style: normal"><i class="fas fa-clock fa-fw"></i>&nbsp;&nbsp;{{request.delivery.end}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-3" style="margin-top: 15px; margin-left: 20px">-->
                                    <!--<span style="font-weight: 400; font-style: normal">After:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-clock fa-fw"></i>{{request.delivery.start}}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>

                            <div class="col-md-12" style="background-color: #f8f9fa; margin-top: 20px">
                                <div class="row justify-content-start">
                                    <div class="col-md-3" style="margin-top: 15px; margin-left: 20px">
                                        <span style="font-weight: 400; font-style: normal"><b>Mr. Baffo Notes</b></span>
                                    </div>

                                    <div class="col-md-8" style="margin-top: 15px; margin-left: 20px">
                                        <p style="font-weight: 400; font-style: normal">
                                            {{request.serviceNotes}}
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="row justify-content-end">
                                    <div class="col-md-8" style="margin-top: 20px">
                                        <button type="button" class="btn btn-primary" ng-click="confirmTime()" style="width: 150px; height: 50px; float: right"><i class=""></i>Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <!--list-->
                            <div class="row">
                                <div class="col-md-2">
                                    <h4 style="font-weight: 300; font-style: normal">3. Service</h4>
                                </div>
                                <div class="col-md-8" style="display: inline-flex; padding-left: 30px">
                                    <div style="margin-right: 30px" ng-show=" !serviceFocus && serviceSelection.wash">
                                        <span style="font-weight: 200; font-style: normal">Wash & Fold</span>
                                    </div>
                                    <div style="margin-right: 30px" ng-show=" !serviceFocus && serviceSelection.shirt.selected">
                                        <span style="font-weight: 200; font-style: normal">Shirt Cleaning</span>
                                        <br>
                                        <span style="font-weight: 300; font-style: normal"><small>{{serviceSelection.shirt.press}}</small></span>
                                    </div>
                                    <div style="margin-right: 30px" ng-show=" !serviceFocus && serviceSelection.dry">
                                        <span style="font-weight: 200; font-style: normal">Dry Cleaning</span>
                                    </div>
                                    <div style="margin-right: 30px" ng-show=" !serviceFocus && serviceSelection.shoes">
                                        <span style="font-weight: 200; font-style: normal">Shoe Service</span>
                                    </div>
                                </div>
                                <div class="col-md-2" style="text-align: right" ng-show=" !serviceFocus">
                                    <span style="font-weight: 200; font-style: normal; text-decoration: underline;cursor: pointer" ng-click="editFocus('service')">Edit</span>
                                </div>
                            </div>
                            <!--form-->
                            <div class="row" id="serviceForm" style="display: none; margin-top: 30px">
                                <div class="col-md-12">
                                    <!--service selection-->
                                    <form>
                                        <div class="row justify-content-center">
                                            <div class="col m-md-2 service-box" ng-click="selectService('wash')" ng-class="{ 'selected' : serviceSelection.wash}">
                                                <div style="position: absolute; top: 10px; right: 10px" ng-show="serviceSelection.wash">
                                                    <i class="fas fa-check-circle fa-lg"></i>
                                                </div>
                                                <i style="font-size:3em; margin-bottom: 30px" class="fa fa-tshirt"></i>
                                                <h4 style="font-weight: 200; font-style: normal; margin-bottom: 20px">Wash & Fold</h4>
                                                <p style="font-weight: 200; font-style: normal; line-height: normal;">Premium laundry, freshly washed & folded</p>
                                            </div>
                                            <div class="col m-md-2 service-box" ng-click="selectService('shirt')" ng-class="{selected : serviceSelection.shirt.selected}">
                                                <div style="position: absolute; top: 10px; right: 10px" ng-show="serviceSelection.shirt.selected">
                                                    <i class="fas fa-check-circle fa-lg"></i>
                                                </div>
                                                <i style="font-size:3em; margin-bottom: 30px" class="fa fa-tshirt"></i>
                                                <h4 style="font-weight: 200; font-style: normal; margin-bottom: 20px">Shirt Cleaning</h4>
                                                <p style="font-weight: 200; font-style: normal; line-height: normal;">
                                                    Crisp men's button down shirts, washed, dried and expertly pressed
                                                </p>
                                            </div>
                                            <div class="col m-md-2 service-box" ng-click="selectService('dry')" ng-class="{selected : serviceSelection.dry}">
                                                <div style="position: absolute; top: 10px; right: 10px" ng-show="serviceSelection.dry">
                                                    <i class="fas fa-check-circle fa-lg"></i>
                                                </div>
                                                <i style="font-size:3em; margin-bottom: 30px" class="fa fa-tshirt"></i>
                                                <h4 style="font-weight: 200; font-style: normal; margin-bottom: 20px">Dry Cleaning</h4>
                                                <p style="font-weight: 200; font-style: normal; line-height: normal;">
                                                    Premium dry clean and press for your special garments
                                                </p>
                                            </div>
                                            <div class="col m-md-2 service-box" ng-click="selectService('shoes')" ng-class="{selected : serviceSelection.shoes}">
                                                <div style="position: absolute; top: 10px; right: 10px" ng-show="serviceSelection.shoes">
                                                    <i class="fas fa-check-circle fa-lg"></i>
                                                </div>
                                                <i style="font-size:3em; margin-bottom: 30px" class="fa fa-shoe-prints"></i>
                                                <h4 style="font-weight: 200; font-style: normal; margin-bottom: 20px">Shoes</h4>
                                                <p style="font-weight: 200; font-style: normal; line-height: normal;">
                                                    Shoe cleaning for your shoes send your shoes in
                                                </p>
                                            </div>
                                        </div>
                                        <!--shirt cleaning selection-->
                                        <div class="row justify-content-center" style="margin-top: 50px" ng-show="serviceSelection.shirt.selected">
                                            <div class="col-md-10">
                                                <p style="font-weight: 200; font-style: normal; line-height: normal;">
                                                    Choose a shirt Cleaning Type
                                                </p>
                                            </div>
                                            <div class="col-md-3 m-md-3 service-sub-box" ng-click="selectShirtService('laundry')" ng-class="{selected : serviceSelection.shirt.press == 'Laundry & Press'}">
                                                <div style="position: absolute; top: 5px; right: 5px" ng-show="serviceSelection.shirt.press == 'Laundry & Press'">
                                                    <i class="fas fa-check-circle fa-lg"></i>
                                                </div>
                                                <h4 style="font-weight: 200; font-style: normal; margin-bottom: 0"><small>Laundry & Press</small></h4>
                                                <p style="font-weight: 200; font-style: normal; line-height: normal;">
                                                    <small>
                                                        $2.5 / item
                                                    </small>
                                                </p>
                                            </div>
                                            <div class="col-md-3 m-md-3 service-sub-box" ng-click="selectShirtService('hand')" ng-class="{selected : serviceSelection.shirt.press == 'Hand Press'}">
                                                <div style="position: absolute; top: 5px; right: 5px" ng-show="serviceSelection.shirt.press == 'Hand Press'">
                                                    <i class="fas fa-check-circle fa-lg"></i>
                                                </div>
                                                <h4 style="font-weight: 200; font-style: normal; margin-bottom: 0"><small>Hand Press</small></h4>
                                                <p style="font-weight: 200; font-style: normal; line-height: normal;">
                                                    <small>
                                                        $3.5 / item
                                                    </small>
                                                </p>
                                            </div>
                                            <div class="col-md-3 m-md-3 service-sub-box" ng-click="selectShirtService('dry')" ng-class="{selected : serviceSelection.shirt.press == 'Dry Clean'}">
                                                <div style="position: absolute; top: 5px; right: 5px" ng-show="serviceSelection.shirt.press == 'Dry Clean'">
                                                    <i class="fas fa-check-circle fa-lg"></i>
                                                </div>
                                                <h4 style="font-weight: 200; font-style: normal; margin-bottom: 0"><small>Dry Clean</small></h4>
                                                <p style="font-weight: 200; font-style: normal; line-height: normal;">
                                                    <small>
                                                        $5 / item
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center" style="margin-top: 50px">
                                            <div class="col-md-12">
                                                <p style="font-weight: 200; font-style: normal; line-height: normal;">
                                                    Add Notes (Optional):
                                                </p>
                                                <textarea rows="2" style="width: 80%" ng-model="request.productNotes" placeholder="Comments or something specific that you want us to know..."></textarea>
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-md-8" style="margin-top: 20px">
                                                <button type="button" class="btn btn-primary" ng-disabled="!serviceSelection.wash && !serviceSelection.shoes && !serviceSelection.dry && !serviceSelection.shirt.selected" ng-click="confirmService()" style="width: 150px; height: 50px; float: right"><i class=""></i>Confirm</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <!--list-->
                            <div class="row">
                                <div class="col-md-3">
                                    <h4 style="font-weight: 300; font-style: normal">4. Payment</h4>
                                </div>
                                <div class="col-md-8" style="display: inline-flex; padding-left: 30px" ng-show="false">
                                    <div>
                                        <span style="font-weight: 200; font-style: normal">Pickup Time</span>
                                        <br>
                                        <span style="font-weight: 300; font-style: normal">14 May, 05:30PM</span>
                                    </div>
                                </div>
                                <div class="col-md-1" style="text-align: right" ng-show="false">
                                    <span style="font-weight: 200; font-style: normal; text-decoration: underline">Edit</span>
                                </div>
                            </div>
                            <div class="row" id="paymentForm" style=" margin-top: 30px; display: none;" >
                                <div class="col-md-12"  ng-show="!newCard && !editCardFlag">
                                    <!--card selection-->
                                    <div class="row justify-content-start">
                                        <div class="col" style="display: inline-block" ng-repeat="card in stripeInfo.sources.data">
                                            <div class="card-box" ng-click="selectSavedCard(card)" ng-class="{'selected' : savedCard.id === card.id}">
                                                <div class="checkDiv" style="position: absolute; " ng-show=" savedCard.id === card.id">
                                                    <div class="checkTriangle" style="display: inline-flex">
                                                        <div style="position: absolute; color: white; top: 5px; left: 5px">
                                                            <i class="fas fa-check"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row justify-content-center" style="margin-top: 15px">
                                                    <div class="col-md-10" style="display: inline-flex;">
                                                        <div style="width: 80%;">
                                                            <img src="../../../resources/images/visa-logo-png-transparent.png" height="48px" width="48px">
                                                        </div>
                                                        <div style="width: 20%; align-content: right; padding-top: 15px">
                                                            <span><i class="fas fa-edit fa-lg" style="float: right;" ng-click="showEditedCard(true, card)"></i></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-10" style="margin-top:10px; margin-bottom: 10px">
                                                        <span class="card-stars">**** **** **** {{card.last4}}</span>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div>
                                                            <span class="card-name-title">Name</span>
                                                            <br>
                                                            <span class="card-name">{{card.name}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div>
                                                            <span class="card-name-title">Exp Date</span>
                                                            <br>
                                                            <span class="card-name">{{card.exp_month}}/{{card.exp_year}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col" style="display: inline-flex">
                                            <div class="add-card" ng-click="selectNewCard(true)" ng-class="{'selected' : newCard}" style="text-align: center">
                                                <i class="fas fa-plus fa-4x" style="margin-top: 40px"></i>
                                                <br>
                                                <span class="Add-new-credit-card">Add new credit card</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row justify-content-start" style="margin-top: 20px">
                                        <div class="col-md-10">
                                            <p style="font-weight: 200; font-style: normal; line-height: normal;">
                                                Enter Promo Code
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <input ng-required="true" id="promotionCode" type="tel" name="promotionCode"
                                                   class="form-control"
                                                   placeholder="Promo Code" ng-model="promoCode" style="height: 40px; margin-bottom: 10px">
                                            <p ng-show="promoMsg.status" class="success-msg" style="margin-bottom: 5px">{{promoMsg.msg}}</p>
                                            <p ng-show="!promoMsg.status" class="error-msg" style="margin-bottom: 5px">{{promoMsg.msg}}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="apply-button" ng-click="applyPromo(promoCode)"> Apply</button>
                                        </div>
                                    </div>

                                    <div class="row justify-content-end">
                                        <div class="col-md-8" style="margin-top: 20px">
                                            <button type="button" class="btn btn-primary" ng-click="editOrder()" ng-show="savedCard !== undefined" style="width: 150px; height: 50px; float: right"><i class=""></i>Finish</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12"  ng-show="newCard && !editCardFlag">
                                    <div class="row justify-content-center no-gutters" style="margin-top: 20px">
                                        <div class="col-md-12 Rectangle-21-Copy-2">
                                            <div class="row justify-content-start no-gutters">
                                                <div class="col-md-12 Rectangle-21-Copy-3">
                                                    <h5 style="font-weight: 200; font-style: normal; margin-top: 20px; margin-bottom: 15px; margin-left: 37px"><small>Add New Credit Card</small><small ng-show="billingForm">&nbsp;&nbsp; > &nbsp;&nbsp;Billing Address</small></h5>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row justify-content-start no-gutters" style="margin-left: 32px; margin-top: 15px;" ng-hide="billingForm">
                                                <div class="col-md-12" style="margin-bottom: 25px">
                                                    <label for="cardName" style="margin-bottom: 5px;"><span style="font-weight: 200; font-style: normal"><small>Name on Card</small></span></label>
                                                    <input id="cardName" type="text"
                                                           class="form-control Rectangle-3" ng-model="paymentInfo.fullName"/>
                                                </div>
                                                <div class="col-md-12" style="margin-bottom: 25px">
                                                    <label for="cardNumber" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Card Number</small></span></label>
                                                    <input id="cardNumber" type="text"
                                                           class="form-control Rectangle-3" ng-model="paymentInfo.cardNumber"/>
                                                </div>
                                                <div class="col-md-2" style="margin-bottom: 25px">
                                                    <label for="cardGoodThru" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Good Thru</small></span></label>
                                                    <input id="cardGoodThru" type="text" maxlength="5"
                                                           class="form-control Rectangle-3-small"
                                                           ng-model="paymentInfo.goodThru" ng-value="paymentInfo.formattedExpiry" style="margin-bottom: 5px"/>
                                                </div>
                                                <div class="col-md-2" style="margin-bottom: 25px">
                                                    <label for="cardCVV" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>CVV</small></span></label>
                                                    <input id="cardCVV" type="text" maxlength="3"
                                                           class="form-control Rectangle-3-small" style="margin-bottom: 5px" ng-model="paymentInfo.cvc"/>
                                                </div>

                                                <div class="col-md-2" style="margin-bottom: 25px">
                                                    <label for="billingPostal" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Postal</small></span></label>
                                                    <input id="billingPostal" type="text" maxlength="6"
                                                           class="form-control Rectangle-3-small" style="margin-bottom: 5px" ng-model="paymentInfo.postal"/>
                                                </div>

                                                <div class="col-md-12">
                                                    <div style="display: block; float: left">
                                                        <button type="button" class="Cancel" ng-click="selectNewCard(false)">Cancel</button>
                                                        <button type="button" class="Rectangle-9-Copy-3 " ng-click="savePayment(paymentInfo)">Add New Card</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" ng-show="!newCard && editCardFlag">
                                    <div class="row justify-content-start no-gutters" style="margin-left: 32px; margin-top: 15px; margin-bottom: 35px" ng-show="editCardFlag">
                                        <div class="col-md-12" style="margin-bottom: 25px">
                                            <label for="editCardName" style="margin-bottom: 5px;"><span style="font-weight: 200; font-style: normal"><small>Name on Card</small></span></label>
                                            <input id="editCardName" type="text"
                                                   class="form-control Rectangle-3" ng-model="editedCard.name"/>
                                        </div>
                                        <div class="col-md-12" style="margin-bottom: 25px">
                                            <label for="editCardNumber" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Card Number</small></span></label>
                                            <input id="editCardNumber" type="text"
                                                   class="form-control Rectangle-3"  disabled ng-value="'**** **** **** '+ editedCard.last4"/>
                                        </div>
                                        <div class="col-md-2" style="margin-bottom: 25px">
                                            <label for="editCardGoodThru" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Good Thru</small></span></label>
                                            <input id="editCardGoodThru" type="text" maxlength="5"
                                                   class="form-control Rectangle-3-small"
                                                   ng-model="editedCard.goodThru" ng-value="editedCard.formattedExpiry" style="margin-bottom: 5px"/>
                                        </div>
                                        <div class="col-md-2" style="margin-bottom: 25px">
                                            <label for="editCardCVV" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>CVV</small></span></label>
                                            <input id="editCardCVV" type="text" maxlength="3"
                                                   class="form-control Rectangle-3-small" style="margin-bottom: 5px" ng-value="'***'" disabled/>
                                        </div>

                                        <div class="col-md-2" style="margin-bottom: 25px">
                                            <label for="editCardPostal" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Postal</small></span></label>
                                            <input id="editCardPostal" type="text" maxlength="6"
                                                   class="form-control Rectangle-3-small" style="margin-bottom: 5px" ng-model="editedCard.address_zip"/>
                                        </div>

                                        <div class="col-md-12">
                                            <div style="display: block; float: left">
                                                <button type="button" class="Cancel" ng-click="showEditedCard(false, undefined)">Cancel</button>
                                                <button type="button" class="Rectangle-9-Copy-3 " ng-click="editCard(editedCard)">Save Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 order-form" ng-show="orderComplete">
                <div class="row justify-content-center">
                    <div class="col-md-6" style="text-align: center; margin-top: 100px; margin-bottom: 100px">
                        <i class="fas fa-check-circle fa-7x"></i>
                        <h3 style="font-weight: 200; font-style: normal; margin-top: 30px; margin-bottom: 5px;">Order Edit Success</h3>
                        <p style="font-weight: 200; font-style: normal; line-height: normal;">
                            Your order has been successfully edited.
                        </p>
                        <button class="button" ui-sref="user.order" style="margin-top: 50px">Finish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>