<div class="row justify-content-center" style="margin-top: 100px">
    <div class="col-md-10">
        <div class="row justify-content-center">
            <div class="col-md-5" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); background-color: white">
                <div class="row justify-content-center" style="padding-top: 50px; padding-bottom: 50px">
                    <div class="col-md-8">
                        <div style="align-content: center">
                            <div style="margin-left: -15px; margin-bottom: 30px">
                                <h3>Get Started!</h3>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text, Lorem Ipsum is not simply random text.</p>
                            </div>
                            <form novalidate name="signupForm" ng-submit="register(init)">
                                <div class="form-group row" style="margin-bottom: 25px" ng-class="{ 'invalid-feedback' : signupForm.firstName.$invalid && !signupForm.firstName.$pristine || signupForm.lastName.$invalid && !signupForm.lastName.$pristine}">
                                    <div class="col-md-12" style="padding: 0 0 0 0">
                                        <p ng-show="signupForm.firstName.$invalid && !signupForm.firstName.$pristine || signupForm.lastName.$invalid && !signupForm.lastName.$pristine" class="help-block" style="margin-bottom: 5px">You full name is required.</p>
                                    </div>
                                    <div class="col-md-6" style="padding: 0 10px 0 0">
                                        <input ng-required="true" name="firstName" id="initFirstName" type="text"
                                               class="form-control"
                                               placeholder="First Name" ng-model="init.firstName" style="margin-bottom: 0; height: 50px"
                                               ng-class="{ 'is-invalid' : signupForm.firstName.$invalid && !signupForm.firstName.$pristine,
                                                           'is-valid' : !signupForm.firstName.$invalid && !signupForm.firstName.$pristine}"/>
                                    </div>
                                    <div class="col-md-6" style="padding: 0 0 0 0">
                                        <input ng-required="true" name="lastName" id="initLastName" type="text"
                                               class="form-control"
                                               placeholder="Last Name" ng-model="init.lastName" style="margin-bottom: 0; height: 50px"
                                               ng-class="{ 'is-invalid' : signupForm.lastName.$invalid && !signupForm.lastName.$pristine,
                                                           'is-valid' : !signupForm.lastName.$invalid && !signupForm.lastName.$pristine}"/>
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-bottom: 25px" ng-class="{ 'invalid-feedback' : signupForm.phone.$invalid && !signupForm.phone.$pristine }">
                                    <div class="input-group" style="height: 50px">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">+1</div>
                                        </div>
                                        <input id="initPhone" name="phone" type="tel" class="form-control" placeholder="Phone"
                                               ng-required="true" ng-minlength="14" ng-model="init.phone"
                                               ng-class="{ 'is-invalid' : signupForm.phone.$invalid && !signupForm.phone.$pristine, 'is-valid': !signupForm.phone.$invalid && !signupForm.phone.$pristine }">
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-bottom: 25px" ng-class="{ 'invalid-feedback' : (signupForm.email.$invalid && !signupForm.email.$pristine)}" >
                                    <p ng-show="signupForm.email.$error.duplicate && !signupForm.email.$pristine" class="help-block" style="margin-bottom: 5px">This email exists, please <a ui-sref="home.login">Login</a></p>
                                    <p ng-show="signupForm.email.$error.valid && !signupForm.email.$error.duplicate && !signupForm.email.$pristine" class="help-block" style="margin-bottom: 5px">Email is invalid, please enter a valid email.</p>
                                    <input ng-required="true" id="initEmail" type="email" name="email"
                                           class="form-control"
                                           placeholder="Email" ng-model="init.email" style="height: 50px"
                                           ng-class="{ 'is-invalid' : (signupForm.email.$invalid && !signupForm.email.$pristine),
                                                       'is-valid': (!signupForm.email.$invalid && !signupForm.email.$pristine)}">
                                </div>

                                <div class="form-group row" style="margin-bottom: 50px">
                                    <input id="initReferral" type="text"
                                           class="form-control"
                                           placeholder="Referral Code" ng-model="init.referral" style="height: 50px"/>
                                </div>

                                <div class="form-group row" style="margin-bottom: 25px" ng-class="{ 'invalid-feedback' : (signupForm.password.$invalid && !signupForm.password.$pristine)}">
                                    <p ng-show="signupForm.password.$error.valid && !signupForm.password.$pristine" class="help-block" style="margin-bottom: 5px">Invalid password, does not meet criteria</p>
                                    <div class="input-group" style="height: 50px">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" data-toggle="tooltip" title="Password must be more than 7 characters containing a lowercase letter, an uppercase letter and a number or special character"><i class="fa fa-info-circle"></i></div>
                                        </div>
                                        <input ng-required="true" id="initPass" type="password" name="password"
                                               class="form-control"
                                               placeholder="Password" ng-model="init.password"
                                               ng-class="{ 'is-invalid' : (signupForm.password.$invalid && !signupForm.password.$pristine),
                                                       'is-valid': (!signupForm.password.$invalid && !signupForm.password.$pristine)}"/>
                                    </div>

                                </div>

                                <div class="form-group row" style="margin-bottom: 60px" ng-class="{ 'invalid-feedback' : (signupForm.confirmPassword.$invalid && !signupForm.confirmPassword.$pristine)}">
                                    <p ng-show="signupForm.confirmPassword.$error.valid && !signupForm.confirmPassword.$pristine" class="help-block" style="margin-bottom: 5px">Your passwords do not match</p>
                                    <input ng-required="true" id="initPassConfirm" type="password"
                                           class="form-control" name="confirmPassword"
                                           placeholder="Confirm Password" ng-model="init.confirmPassword" style="height: 50px"
                                           ng-class="{ 'is-invalid' : (signupForm.confirmPassword.$invalid && !signupForm.confirmPassword.$pristine),
                                                       'is-valid': (!signupForm.confirmPassword.$invalid && !signupForm.confirmPassword.$pristine)}">
                                </div>

                                <div class="pull-right" style="margin-right: -15px">
                                    <button data-ng-click="register(init)" ng-disabled="signupForm.$invalid" type="button" class="btn btn-primary" style="width: 250px; height: 50px; margin-left: 0 ">SIGN UP</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-5" style="text-align: center; padding-top: 100px; padding-left: 50px" >
                <img src="resources/images/laundry_machine.png" style="width: 80%; height: auto">
            </div>
        </div>
    </div>
</div>
