<div class="row justify-content-center" style="margin: 40px 25px 40px 25px">
    <div class="col-md-12">
        <div>
            <h4 style="display: inline"><small>Payment Information</small></h4>
        </div>

        <div class="row justify-content-start no-gutters" style="margin-top: 30px" ng-repeat="card in stripeInfo.sources.data">
            <div class="col-md-12 Rectangle-21-Edit-Card">
                <div class="row justify-content-start no-gutters">
                    <div class="col-md-12 Rectangle-21-Copy-3">
                        <div class="row justify-content-start no-gutters">
                            <div class="col-md-12" style="display: inline-flex" ng-click="showSelectedCard(card)">
                                <div class="Rectangle-Copy-4" style="margin: 13px 0px 15px 31px;">
                                    <img src="../../../resources/images/visa-logo-png-transparent.png" height=27 width=35>
                                </div>
                                <div style="margin: 15px 0 19px 30px;">
                                    <h5 style="font-weight: 200; font-style: normal; margin: 0 0 0 0;"><small>Ending in <span style="font-weight: 600">{{card.last4}}</span></small></h5>
                                </div>
                                <div style="margin: 15px 0 19px 166px;">
                                    <h5 style="font-weight: normal; font-style: normal; margin: 0 0 0 0"><small>{{card.exp_month}}/{{card.exp_year}}</small></h5>
                                </div>
                                <div style="margin: 15px 0 19px 80px;">
                                    <h5 style="font-weight: 600; font-style: normal; margin: 0 0 0 0;"><small ng-show="card.id === stripeInfo.default_source">Default</small></h5>
                                    <h5 style="font-weight: 600; font-style: normal; margin: 0 0 0 0;"><small ng-hide="card.id === stripeInfo.default_source">Not Default</small></h5>
                                </div>
                                <div style="margin: 15px 0 19px 158px;">
                                    <img src="../../../resources/images/arrow-down.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-start no-gutters" id = "{{card.id}}" ng-show="card.id === selectedCard.id && editedCard === undefined">
                    <div class="col-md-12">
                        <div class="row justify-content-start no-gutters" style="margin-top: 40px; margin-left: 32px">
                            <div class="col-md-12" style="display: inline-flex;">
                                <div class="col">
                                    <span class="Name-on-Card">NAME ON CARD</span>
                                    <br>
                                    <!--<h5 class="Name-on-Card"><small>NAME ON CARD</small></h5>-->
                                    <span>{{card.name}}</span>
                                </div>
                                <div class="col">
                                    <span class="Postal-Card">POSTAL CODE</span>
                                    <br>
                                    <span>{{card.address_zip}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-start" style="margin-top: 40px; margin-left: 32px; margin-bottom: 35px">
                            <div class="col-md-6">
                                <input class="Checkbox" type="checkbox" ng-click="setDefaultCard(card)" ng-checked="card.id === stripeInfo.default_source" ng-disabled="card.id === stripeInfo.default_source"> &nbsp;&nbsp;<span class="Use-as-default">Use as default</span>

                            </div>
                            <div class="col-md-6" style="padding-left: 0; display: inline-block; text-align: justify-all">
                                <a ng-click="deleteCard(card)" style="cursor: pointer"><span class="Delete"><i class="fa fa-trash fa-fw"></i> Delete</span></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a ng-click="showEditedCard(card)" style="cursor: pointer"><span class="Delete"><i class="fa fa-edit fa-fw"></i> Edit</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-start no-gutters" style="margin-left: 32px; margin-top: 15px; margin-bottom: 35px" ng-show="card.id === selectedCard.id && editedCard.id === selectedCard.id">
                    <div class="col-md-12" style="margin-bottom: 25px">
                        <label for="{{'editCardName' + card.id}}" style="margin-bottom: 5px;"><span style="font-weight: 200; font-style: normal"><small>Name on Card</small></span></label>
                        <input id="{{'editCardName' + card.id}}" type="text"
                               class="form-control Rectangle-3" ng-model="editedCard.name"/>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 25px">
                        <label for="{{'editCardNumber' + card.id}}" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Card Number</small></span></label>
                        <input id="{{'editCardNumber' + card.id}}" type="text"
                               class="form-control Rectangle-3"  disabled ng-value="'**** **** **** '+ editedCard.last4"/>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 25px">
                        <label for="{{'editCardGoodThru' + card.id}}" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Good Thru</small></span></label>
                        <input id="{{'editCardGoodThru' + card.id}}" type="text" maxlength="5"
                               class="form-control Rectangle-3-small"
                               ng-model="editedCard.goodThru" ng-value="editedCard.formattedExpiry" style="margin-bottom: 5px"/>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 25px">
                        <label for="{{'editCardCVV' + card.id}}" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>CVV</small></span></label>
                        <input id="{{'editCardCVV' + card.id}}" type="text" maxlength="3"
                               class="form-control Rectangle-3-small" style="margin-bottom: 5px" ng-value="'***'" disabled/>
                    </div>

                    <div class="col-md-2" style="margin-bottom: 25px">
                        <label for="{{'editCardPostal' + card.id}}" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Postal</small></span></label>
                        <input id="{{'editCardPostal' + card.id}}" type="text" maxlength="6"
                               class="form-control Rectangle-3-small" style="margin-bottom: 5px" ng-model="editedCard.address_zip"/>
                    </div>

                    <div class="col-md-12">
                        <div style="display: block; float: left">
                            <button type="button" class="Cancel" ng-click="showEditedCard(card)">Cancel</button>
                            <button type="button" class="Rectangle-9-Copy-3 " ng-click="editCard(editedCard)">Edit Card</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row justify-content-start no-gutters" style="margin-top: 30px;">
            <div class="col-md-12 add-credit-card" style="display: inline-block" ng-click="createNewCard(true)">
                <p style="text-align: left; margin: 20px 20px 20px 20px;">
                    <i class="fa fa-plus-circle fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Add New Credit Card
                </p>
            </div>
        </div>

        <div class="row justify-content-center no-gutters" style="margin-top: 20px" ng-show="addNewCard">
            <div class="col-md-12 Rectangle-21-Copy-2">
                <div class="row justify-content-start no-gutters">
                    <div class="col-md-12 Rectangle-21-Copy-3">
                        <h5 style="font-weight: 200; font-style: normal; margin-top: 20px; margin-bottom: 15px; margin-left: 37px"><small>Add New Credit Card</small><small ng-show="billingForm">&nbsp;&nbsp; > &nbsp;&nbsp;Billing Address</small></h5>
                    </div>
                </div>
                <br>
                <div class="row justify-content-start no-gutters" style="margin-left: 32px; margin-top: 15px;" ng-hide="billingForm">
                    <div class="col-md-12" style="margin-bottom: 25px">
                        <label for="cardName" style="margin-bottom: 5px;"><span style="font-weight: 200; font-style: normal"><small>Name on Card</small></span></label>
                        <input id="cardName" type="text"
                               class="form-control Rectangle-3" ng-model="paymentInfo.fullName"/>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 25px">
                        <label for="cardNumber" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Card Number</small></span></label>
                        <input id="cardNumber" type="text"
                               class="form-control Rectangle-3" ng-model="paymentInfo.cardNumber"/>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 25px">
                        <label for="cardGoodThru" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Good Thru</small></span></label>
                        <!--<input id="cardGoodThru" type="text"-->
                        <!--class="form-control" style="margin-bottom: 5px"/>-->
                        <!--<input id="cardGoodThruYear" type="text" maxlength="4"-->
                        <!--class="form-control"-->
                        <!--placeholder="YYYY" ng-model="paymentInfo.expYear" style="margin-bottom: 5px"/>-->
                        <!--<input id="cardGoodThruMonth" type="text" maxlength="2"-->
                        <!--class="form-control"-->
                        <!--placeholder="MM" ng-model="paymentInfo.expMonth" style="margin-bottom: 5px"/>-->

                        <input id="cardGoodThru" type="text" maxlength="5"
                               class="form-control Rectangle-3-small"
                               ng-model="paymentInfo.goodThru" ng-value="paymentInfo.formattedExpiry" style="margin-bottom: 5px"/>
                    </div>
                    <!--<div class="col-md-4 m-md-2">-->
                    <!--<label for="cardGoodThruMonth" style="margin-bottom: 10px"><span style="font-weight: 200; font-style: normal"><small>Exp Month</small></span></label>-->
                    <!--&lt;!&ndash;<input id="cardGoodThru" type="text"&ndash;&gt;-->
                    <!--&lt;!&ndash;class="form-control" style="margin-bottom: 5px"/>&ndash;&gt;-->
                    <!--<input id="cardGoodThruMonth" type="text" maxlength="2"-->
                    <!--class="form-control"-->
                    <!--placeholder="MM" ng-model="paymentInfo.expMonth" style="margin-bottom: 5px"/>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 m-md-2">-->
                    <!--<label for="cardGoodThruYear" style="margin-bottom: 10px"><span style="font-weight: 200; font-style: normal"><small>Exp Year</small></span></label>-->
                    <!--&lt;!&ndash;<input id="cardGoodThru" type="text"&ndash;&gt;-->
                    <!--&lt;!&ndash;class="form-control" style="margin-bottom: 5px"/>&ndash;&gt;-->
                    <!--<input id="cardGoodThruYear" type="text" maxlength="4"-->
                    <!--class="form-control"-->
                    <!--placeholder="YYYY" ng-model="paymentInfo.expYear" style="margin-bottom: 5px"/>-->
                    <!--</div>-->
                    <div class="col-md-2" style="margin-bottom: 25px">
                        <label for="cardCVV" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>CVV</small></span></label>
                        <input id="cardCVV" type="text" maxlength="3"
                               class="form-control Rectangle-3-small" style="margin-bottom: 5px" ng-model="paymentInfo.cvc"/>
                    </div>

                    <div class="col-md-2" style="margin-bottom: 25px">
                        <label for="billingPostal" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Postal</small></span></label>
                        <input id="billingPostal" type="text" maxlength="6"
                               class="form-control Rectangle-3-small" style="margin-bottom: 5px" ng-model="paymentInfo.postal"/>
                    </div>

                    <div class="col-md-12">
                        <div style="display: block; float: left">
                            <button type="button" class="Cancel" ng-click="createNewCard(false)">Cancel</button>
                            <button type="button" class="Rectangle-9-Copy-3 " ng-click="savePayment(paymentInfo)">Add New Card</button>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start no-gutters" style="margin-left: 32px; margin-top: 15px;" ng-show="billingForm">
                    <div class="col-md-12" style="margin-bottom: 25px">
                        <label for="address1" style="margin-bottom: 5px;"><span style="font-weight: 200; font-style: normal"><small>Address Line 1</small></span></label>
                        <input id="address1" type="text"
                               class="form-control Rectangle-3" ng-model="paymentInfo.billing.addressLine1"/>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 25px">
                        <label for="address2" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Address Line 2</small></span></label>
                        <input id="address2" type="text"
                               class="form-control Rectangle-3" ng-model="paymentInfo.billing.addressLine2"/>
                    </div>
                    <div class="col-md-12">
                        <div class="row justify-content-start no-gutters">
                            <div class="col-md-3" style="margin-bottom: 25px">
                                <label for="billingCity" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>City</small></span></label>
                                <input id="billingCity" type="text"
                                       class="form-control Rectangle-3-med"
                                       ng-model="paymentInfo.billing.city" style="margin-bottom: 5px"/>
                            </div>
                            <div class="col-md-3" style="margin-bottom: 25px">
                                <label for="billingState" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>State</small></span></label>
                                <!--<input id="cardGoodThru" type="text"-->
                                <!--class="form-control" style="margin-bottom: 5px"/>-->
                                <input id="billingState" type="text"
                                       class="form-control Rectangle-3-med"
                                       ng-model="paymentInfo.billing.state" style="margin-bottom: 5px"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row justify-content-start no-gutters">
                            <div class="col-md-3" style="margin-bottom: 25px">
                                <label for="billingZip" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Zip</small></span></label>
                                <input id="billingZip" type="text"
                                       class="form-control Rectangle-3-med"
                                       ng-model="paymentInfo.billing.postal" style="margin-bottom: 5px"/>
                            </div>

                            <div class="col-md-3" style="margin-bottom: 25px">
                                <label for="billingCountry" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>Country</small></span></label>
                                <!--<input id="cardGoodThru" type="text"-->
                                <!--class="form-control" style="margin-bottom: 5px"/>-->
                                <input id="billingCountry" type="text"
                                       class="form-control Rectangle-3-med"
                                       ng-model="paymentInfo.billing.country" style="margin-bottom: 5px"/>
                            </div>
                        </div>

                    </div>

                    <!--<div class="col-md-4 m-md-2">-->
                    <!--<label for="cardGoodThruMonth" style="margin-bottom: 10px"><span style="font-weight: 200; font-style: normal"><small>Exp Month</small></span></label>-->
                    <!--&lt;!&ndash;<input id="cardGoodThru" type="text"&ndash;&gt;-->
                    <!--&lt;!&ndash;class="form-control" style="margin-bottom: 5px"/>&ndash;&gt;-->
                    <!--<input id="cardGoodThruMonth" type="text" maxlength="2"-->
                    <!--class="form-control"-->
                    <!--placeholder="MM" ng-model="paymentInfo.expMonth" style="margin-bottom: 5px"/>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 m-md-2">-->
                    <!--<label for="cardGoodThruYear" style="margin-bottom: 10px"><span style="font-weight: 200; font-style: normal"><small>Exp Year</small></span></label>-->
                    <!--&lt;!&ndash;<input id="cardGoodThru" type="text"&ndash;&gt;-->
                    <!--&lt;!&ndash;class="form-control" style="margin-bottom: 5px"/>&ndash;&gt;-->
                    <!--<input id="cardGoodThruYear" type="text" maxlength="4"-->
                    <!--class="form-control"-->
                    <!--placeholder="YYYY" ng-model="paymentInfo.expYear" style="margin-bottom: 5px"/>-->
                    <!--</div>-->
                    <!--<div class="col-md-2" style="margin-bottom: 25px">-->
                    <!--<label for="cardCVV" style="margin-bottom: 5px"><span style="font-weight: 200; font-style: normal"><small>CVV</small></span></label>-->
                    <!--<input id="cardCVV" type="text" minlength="3"-->
                    <!--class="form-control Rectangle-3-small" style="margin-bottom: 5px" ng-model="paymentInfo.cvc"/>-->
                    <!--</div>-->

                    <div class="col-md-12">
                        <div style="display: block; float: left">
                            <button type="button" class="Cancel" ng-click="createNewCard(false)">Cancel</button>
                            <button type="button" class="Rectangle-9-Copy-3 " ng-click="savePayment(paymentInfo)">Add Your Card</button>
                        </div>
                    </div>
                </div>


                <!--<div class="row justify-content-start">-->
                <!--<div class="col-md-6">-->
                <!--<input type="checkbox" name="vehicle" value="yes" style="margin-top: 20px; margin-left: 15px"> Billing address is the same as Shipping address-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>

        <div class="row" ng-show="false">
            <h5 style="text-align: center">No Payment Info. Please add a payment option</h5>
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input id="paymentFullName" type="text"
                                   class="form-control"
                                   placeholder="Full Name on Card" ng-model="paymentInfo.fullName" style="margin-bottom: 5px"/>
                        </div>
                    </div>
                    <div class=" col-md-12">
                        <div class="form-group">
                            <input id="paymentCardNumber" type="text"
                                   class="form-control"
                                   placeholder="Card Number" ng-model="paymentInfo.cardNumber" style="margin-bottom: 5px"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input id="paymentCardMonth" type="text" maxlength="2"
                                   class="form-control"
                                   placeholder="MM" ng-model="paymentInfo.expMonth" style="margin-bottom: 5px"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input id="paymentCardYear" type="text" maxlength="4"
                                   class="form-control"
                                   placeholder="YYYY" ng-model="paymentInfo.expYear" style="margin-bottom: 5px"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input id="paymentCardCvv" type="text"
                                   class="form-control"
                                   placeholder="CVV" ng-model="paymentInfo.cvc" style="margin-bottom: 5px"/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right"  >Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
